 #img4principal{
        background-image: url("https://drive.google.com/thumbnail?id=1bPeftnoaNJo2Nfsf4skD4VM-nZ9fUmgs");
        width: 100%;
        height: 800px;
        background-size: cover;
        background-position: top;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    #navbarSupportedContent{
        margin-left: 50%;
    }
    body{
        background-color:#060709;
    }
    #nav-menu{
        background-color:#060709;
        color:white;
    }
    #servicedetalle{
        background-color:#212529;
        color:white;
    }
    #servicedetalle > li > a{
        background-color:#212529;
        color:white;
    }
    #servicedetalle > li > a:hover{
        background-color:#212529;
        color:#d2d2d2;
    }
    #imgicondamian{
        width: 120px;
        height: 40px;
    }
    h1{
        color:#ffffff; 
        font-size:15vh; 
        text-align:center;
        padding-top: 15%; 
    }


/*Estilos para celualar*/

@media screen and (width <=  1080px) {
    #img4principal{
        background-image: url("https://drive.google.com/thumbnail?id=1bPeftnoaNJo2Nfsf4skD4VM-nZ9fUmgs");
        width: 100%;
        height: 800px;
        background-size: cover;
        background-position: top;
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    h1{
        color:#ffffff; 
        font-size:10vh; 
        text-align:center;
        padding-top: 35%; 
    }
}
