#footer{
    width: 100%;
    margin-top:5%;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}
#footer-container{
    margin-left: 20%;
}
#iconfooter{
    width: 120px;
    height: 60px;
    margin-left: calc(30%);
    margin-top: 2%;
}
#container-redes{
    margin-left: calc(30%);
    margin-top: 2%;
}
#contact-footer{
    margin-left: calc(18%);
    margin-top: 2%;
    color:#ffffff;
}

/*Estilos para celulares*/
