#containerprincipalimagen{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)),
        url("https://drive.google.com/thumbnail?id=1hW1vEV7t_NuAHAPC7bhFCcmha9SvDQtP");
    background-size: cover;
    background-position: center;
    margin-bottom: 5%;
}
#nameprincipal{
    color: #ffffff;
    font-size: 72px;
    line-height: 1em;
}
.titulo2{
    color: #ffffff;
    font-size: 50px;
    line-height: 1em;
}
.p1{
    color: #ffffff;
    font-size: 17px;
    line-height: 1em;
}
#imgboda1:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}
#imgboda2:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}
#img1principal{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
        url("https://drive.google.com/thumbnail?id=1LxbgftHIyXHOxnfSvtVXfnCLwfOEBvTy");
    background-size: cover;
    background-position: center;
}
#img2principal{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
        url("https://drive.google.com/thumbnail?id=1AXZZY0tWc57wopfSD34jrmlq484sGSEd");
    background-size: cover;
    background-position: center;
}
#img3principal{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
        url("https://drive.google.com/thumbnail?id=1NHkbcb9-n-8ii6a2eJaHBtn6dOZZDOow");
    background-size: cover;
    background-position: center;
}
#img4principal{
    width: 65%;
    height: 100vh;
    background-image: url("https://drive.google.com/thumbnail?id=1b0dmk-GE7YrdsKpNg8V5E4t44Wh0wj6n");
    background-repeat: no-repeat;
    background-size: 55.5% 90%;
    background-attachment: fixed;
    
}
#img5principal{
    height: 100vh;
    background-image: url("https://drive.google.com/thumbnail?id=1oygfWflQILnzkFPRDthHFMVGb9fxiOQA");
    background-repeat: no-repeat;
    background-size: 44.5% 90%;
    background-attachment: fixed;
    background-position: right; 
}
#img6principal{
    height: 100vh;
    background-image: url("https://drive.google.com/thumbnail?id=1jRIFw7B8bhndRZZWWq2wcywS4NrU-gBi");
    background-repeat: no-repeat;
    background-size: 55.5% 90%;
    background-attachment: fixed;
    background-position: left;   
}
